<!DOCTYPE html>
<html>
<head>
	<title>New York Baby!!!</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap -->
    <link href="/css/bootstrap-theme.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/Bootstrap" rel="stylesheet">
    <link href="bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>

<div class="navbar">
  <a href="chooseplace">Home</a>
  <a href="schedule">Schedule</a>
  <div class="dropdown">
    <button class="dropbtn">More 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="chooseplace">Discover</a>
      <a href="tokyoplace">Tokyo</a>
      <a href="newyork">New York City</a>
      <a href="rome">Rome</a>
      <a href="login">Log In</a>
      <a href="login">Sign Out</a>
    </div>
  </div> 
</div>

<form action="/newyorkschedule" method="get">
{{#each newyorkactivities}}
      	<div class="newyorkactivities" id="{{nyname}}">
          		<!-- <img src="{{imageURL}}" class = "img-responsive"> -->
          		<img src="{{nypic}}" class "img-responsive" style="width: 100%">
          		<p>{{nyname}}</p>
          		<p>Description: {{nydes}}</p>
          		<p>Average Hours Spent: {{nyhour}}</p>
          		<p>Average Price: {{nyprice}}</p>
      	</div>
    		<div>
				Start:<select id = {{nyname}} name= {{nyname}} value=null>
					<!-- <option value="0" selected>0</option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value='5'>5</option>
					<option value='6'>6</option>
					<option value='7'>7</option>
					<option value='8'>8</option>
					<option value='9'>9</option>
					<option value='10'>10</option>
					<option value='11'>11</option>
					<option value='12'>12</option> -->
					<option value="0" selected>0</option>
					<option value="6">6 AM</option>
					<option value="7">7 AM</option>
					<option value="8">8 AM</option>
					<option value="9">9 AM</option>
					<option value='10'>10 AM</option>
					<option value='11'>11 AM</option>
					<option value='12'>12 PM</option>
					<option value='13'>1 PM</option>
					<option value='14'>2 PM</option>
					<option value='15'>3 PM</option>
					<option value='16'>4 PM</option>
					<option value='17'>5 PM</option>
					<option value='18'>6 PM</option>
					<option value='19'>7 PM</option>
					<option value='20'>8 PM</option>
					<option value='21'>9 PM</option>
					<option value='22'>10 PM</option>
					<option value='23'>11 PM</option>
					<option value='24'>12 AM</option>
				</select>
				End: <select id = end{{nyname}} name= end{{nyname}} value="0">
					<option value="0" selected>0</option>
					<option value="6">6 AM</option>
					<option value="7">7 AM</option>
					<option value="8">8 AM</option>
					<option value="9">9 AM</option>
					<option value='10'>10 AM</option>
					<option value='11'>11 AM</option>
					<option value='12'>12 PM</option>
					<option value='13'>1 PM</option>
					<option value='14'>2 PM</option>
					<option value='15'>3 PM</option>
					<option value='16'>4 PM</option>
					<option value='17'>5 PM</option>
					<option value='18'>6 PM</option>
					<option value='19'>7 PM</option>
					<option value='20'>8 PM</option>
					<option value='21'>9 PM</option>
					<option value='22'>10 PM</option>
					<option value='23'>11 PM</option>
					<option value='24'>12 AM</option>
				</select>
		</div>
{{/each}}

{{#each newyorkfood}}
	<div class="newyorkfood" id="{{nystore}}">
          		<!-- <img src="{{imageURL}}" class = "img-responsive"> -->
          		<img src="{{nyimage}}" class "img-responsive" style="width: 100%">
          		<p>{{nystore}}</p>
          		<p>Known For: {{nyknown}}</p>
          		<p>Average Price: {{nyfoodprice}}</p>
      	</div>
    		<div>
				Start:<select id = {{nystore}} name= {{nystore}} value=null>
					<!-- <option value="0" selected>0</option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value='5'>5</option>
					<option value='6'>6</option>
					<option value='7'>7</option>
					<option value='8'>8</option>
					<option value='9'>9</option>
					<option value='10'>10</option>
					<option value='11'>11</option>
					<option value='12'>12</option> -->
					<option value="0" selected>0</option>
					<option value="6">6 AM</option>
					<option value="7">7 AM</option>
					<option value="8">8 AM</option>
					<option value="9">9 AM</option>
					<option value='10'>10 AM</option>
					<option value='11'>11 AM</option>
					<option value='12'>12 PM</option>
					<option value='13'>1 PM</option>
					<option value='14'>2 PM</option>
					<option value='15'>3 PM</option>
					<option value='16'>4 PM</option>
					<option value='17'>5 PM</option>
					<option value='18'>6 PM</option>
					<option value='19'>7 PM</option>
					<option value='20'>8 PM</option>
					<option value='21'>9 PM</option>
					<option value='22'>10 PM</option>
					<option value='23'>11 PM</option>
					<option value='24'>12 AM</option>
				</select>
				End: <select id = end{{nystore}} name= end{{nystore}} value="0">
					<option value="0" selected>0</option>
					<option value="6">6 AM</option>
					<option value="7">7 AM</option>
					<option value="8">8 AM</option>
					<option value="9">9 AM</option>
					<option value='10'>10 AM</option>
					<option value='11'>11 AM</option>
					<option value='12'>12 PM</option>
					<option value='13'>1 PM</option>
					<option value='14'>2 PM</option>
					<option value='15'>3 PM</option>
					<option value='16'>4 PM</option>
					<option value='17'>5 PM</option>
					<option value='18'>6 PM</option>
					<option value='19'>7 PM</option>
					<option value='20'>8 PM</option>
					<option value='21'>9 PM</option>
					<option value='22'>10 PM</option>
					<option value='23'>11 PM</option>
					<option value='24'>12 AM</option>
				</select>
		</div>
{{/each}}

{{#each newyorkshopping}}
	<div class="nyshopping" id="{{nyshopping}}">
          		<!-- <img src="{{imageURL}}" class = "img-responsive"> -->
          		<img src="{{nyshopimage}}" class "img-responsive" style="width: 100%">
          		<p>{{nyshopping}}</p>
          		<p>Type: {{nyshopdes}}</p>
      	</div>
    		<div>
				Start:<select id = {{nyshopping}} name= {{nyshopping}} value=null>
					<!-- <option value="0" selected>0</option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value='5'>5</option>
					<option value='6'>6</option>
					<option value='7'>7</option>
					<option value='8'>8</option>
					<option value='9'>9</option>
					<option value='10'>10</option>
					<option value='11'>11</option>
					<option value='12'>12</option> -->
					<option value="0" selected>0</option>
					<option value="6">6 AM</option>
					<option value="7">7 AM</option>
					<option value="8">8 AM</option>
					<option value="9">9 AM</option>
					<option value='10'>10 AM</option>
					<option value='11'>11 AM</option>
					<option value='12'>12 PM</option>
					<option value='13'>1 PM</option>
					<option value='14'>2 PM</option>
					<option value='15'>3 PM</option>
					<option value='16'>4 PM</option>
					<option value='17'>5 PM</option>
					<option value='18'>6 PM</option>
					<option value='19'>7 PM</option>
					<option value='20'>8 PM</option>
					<option value='21'>9 PM</option>
					<option value='22'>10 PM</option>
					<option value='23'>11 PM</option>
					<option value='24'>12 AM</option>
				</select>
				End: <select id = end{{nyshopping}} name= end{{nyshopping}} value="0">
					<option value="0" selected>0</option>
					<option value="6">6 AM</option>
					<option value="7">7 AM</option>
					<option value="8">8 AM</option>
					<option value="9">9 AM</option>
					<option value='10'>10 AM</option>
					<option value='11'>11 AM</option>
					<option value='12'>12 PM</option>
					<option value='13'>1 PM</option>
					<option value='14'>2 PM</option>
					<option value='15'>3 PM</option>
					<option value='16'>4 PM</option>
					<option value='17'>5 PM</option>
					<option value='18'>6 PM</option>
					<option value='19'>7 PM</option>
					<option value='20'>8 PM</option>
					<option value='21'>9 PM</option>
					<option value='22'>10 PM</option>
					<option value='23'>11 PM</option>
					<option value='24'>12 AM</option>
				</select>
		</div>
{{/each}}

<div>
	<input type="submit" name="" value="Complete">
</div>
<!-- <input type="submit" name="" value="Complete"> -->
</form>

<script type="sethours.js"></script>

</body>
</html>

<!-- This shit loads stuff from json...follow this template
		#each = for loop
		activities = calling the section
		 = callling a particular thing in a json
		 {{#each activities}}
      	<div class="activities" id="{{name}}">
        	<a href="description" class="thumbnail">
          		<img src="{{imageURL}}" class = "img-responsive">
          		<p>{{name}}</p>
        	</a>
      	</div>
    {{/each}}
-->