<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap -->
    <link href="/css/style.css" rel="stylesheet">
    <style>
      {{> header}}
    .addbut {
    background-color: #4CAF50;
    border: none; /* Remove borders */
    color: white; /* Add a text color */
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.legend {
    position: absolute;
    bottom: 0;
</style>
</head>
<body onload="test()">

<!-- NAVIGATION BAR -->
{{> navbar}}

<!-- <div class="edit">
<button type="button">Edit</button>
</div> -->
<br>
<div>
   <font size="+2">Schedule for New York</font>
</div>
<div class = "addbut">
  <a href="newyork" class= "botton">Add New York Event</a>
</div>

<!-- LEGEND-->
{{> legend}}
<!-- {{#each schedule}} -->
<!-- <div class = "store name" id="{{store}}"> -->
<!-- </div> -->
<!-- {{/each}} -->
<!-- To clear make a function onclick(){innerHTML = ""} something like that-->

<!-- id for New York Activities -->
<p style="background-color:Tomato;" id="startCentral"></p>
<p style="background-color:Tomato;" id="endCentral"></p>
<p style="background-color:Tomato;" id="startStatue"></p>
<p style="background-color:Tomato;" id="endStatue"></p>
<p style="background-color:Tomato;" id="startTop"></p>
<p style="background-color:Tomato;" id="endTop"></p>
<p style="background-color:Tomato;" id="startThe"></p>
<p style="background-color:Tomato;" id="endThe"></p>
<p style="background-color:Tomato;" id="startTimes"></p>
<p style="background-color:Tomato;" id="endTimes"></p>
<!-- New York Food -->
<p style="background-color:GreenYellow;" id="startFive"></p>
<p style="background-color:GreenYellow;" id="endFive"></p>
<p style="background-color:GreenYellow;" id="startJuliana"></p>
<p style="background-color:GreenYellow;" id="endJuliana"></p>
<p style="background-color:GreenYellow;" id="startBleecker"></p>
<p style="background-color:GreenYellow;" id="endBleecker"></p>
<p style="background-color:GreenYellow;" id="startAmélie"></p>
<p style="background-color:GreenYellow;" id="endAmélie"></p>
<p style="background-color:GreenYellow;" id="startKeens"></p>
<p style="background-color:GreenYellow;" id="endKeens"></p>
<!-- New York Shopping -->
<p style="background-color:Gold;" id="startBergdorf"></p>
<p style="background-color:Gold;" id="endBergdorf"></p>
<p style="background-color:Gold;" id="startGrand"></p>
<p style="background-color:Gold;" id="endGrand"></p>
<p style="background-color:Gold;" id="startFifth"></p>
<p style="background-color:Gold;" id="endFifth"></p>

<script type="text/javascript">
  // variables for New York Activities
  var startCentral = {{Central}};
  var endCentral = {{endCentral}};
  var startStatue = {{Statue}};
  var endStatue = {{endStatue}};
  var startTop = {{Top}};
  var endTop = {{endTop}};
  var startThe = {{The}};
  var endThe = {{endThe}};
  var startTimes = {{Times}};
  var endTimes = {{endTimes}};
  // // New York Food
  var startFive = {{Five}};
  var endFive = {{endFive}};
  var startJuliana = {{Juliana}};
  var endJuliana = {{endJuliana}};
  var startBleecker = {{Bleecker}};
  var endBleecker = {{endBleecker}};
  var startAmélie = {{Amélie}};
  var endAmélie = {{endAmélie}};
  var startKeens = {{Keens}};
  var endKeens = {{endKeens}};
  // //New York Shopping
  var startBergdorf = {{Bergdorf}};
  var endBergdorf = {{endBergdorf}};
  var startGrand = {{Grand}};
  var endGrand = {{endGrand}};
  var startFifth = {{Fifth}};
  var endFifth = {{endFifth}};

  function test() {
    if (startCentral != "0"){
      document.getElementById("startCentral").innerHTML = "<b>Central Park</b>: " + "Start: " + hourconvert(startCentral) + " - End: " + hourconvert(endCentral)
    }
    if (startStatue != "0"){
      document.getElementById("startStatue").innerHTML = "<b>Statue of Liberty:</b> " + "Start: " + hourconvert(startStatue) + " - End: " + hourconvert(endStatue)
    }
    if (startTop != "0"){
      document.getElementById("startTop").innerHTML = "<b>Top of the Rock Observation Deck:</b> " + "Start: " + hourconvert(startTop) + " - End: " + hourconvert(endTop)
    }
    if (startThe != "0"){
      document.getElementById("startThe").innerHTML = "<b>The Metropolitan Museum of Art:</b> " + "Start: " + hourconvert(startThe) + " - End: " + hourconvert(endThe)
    }
    if (startTimes != "0"){
      document.getElementById("startTimes").innerHTML = "<b>Times Square: " + "Start:</b> " + hourconvert(startTimes) + " - End: " + hourconvert(endTimes)
    }
    if (startFive != "0"){
      document.getElementById("startFive").innerHTML = "<b>5 Napkin Burger: " + "Start:</b> " + hourconvert(startFive) + " - End: " + hourconvert(endFive)
    }
    if (startJuliana != "0"){
      document.getElementById("startJuliana").innerHTML = "<b>Juliana's Pizza:</b> " + "Start: " + hourconvert(startJuliana) + " - End: " + hourconvert(endJuliana) 
    }
    if (startBleecker != "0"){
      document.getElementById("startBleecker").innerHTML = "<b>Bleecker Street Pizza:</b> " + "Start: " + hourconvert(startBleecker) + " - End: " + hourconvert(endBleecker)
    }
    if (startAmélie != "0"){
      document.getElementById("startAmélie").innerHTML = "<b>Amélie: " + "Start:</b> " + hourconvert(startAmélie) + " - End: " + hourconvert(endAmélie)
    }
    if (startKeens != "0"){
      document.getElementById("startKeens").innerHTML = "<b>Keens Steakhouse:</b> " + "Start: " + hourconvert(startKeens) + " - End: " + hourconvert(endKeens)
    }
    if (startBergdorf != "0"){
      document.getElementById("startBergdorf").innerHTML = "<b>Bergdorf Goodman:</b> " + "Start: " + hourconvert(startBergdorf) + " - End: " + hourconvert(endBergdorf)
    }
    if (startGrand != "0"){
      document.getElementById("startGrand").innerHTML = "<b>Grand Central Market:</b> " + "Start: " + hourconvert(startGrand) + " - End: " + hourconvert(endGrand)
    }
    if (startFifth != "0"){
      document.getElementById("startFifth").innerHTML = "<b>Fifth Avenue Street:</b> " + "Start: " + hourconvert(startFifth) + " - End: " + hourconvert(endFifth)
    }
  }

  function hourconvert(hour){
  if (parseInt(hour) > 12) {
    var newtime = parseInt(hour) - 12;
    newtime = newtime.toString() + " PM";
  }
  else{
    var newtime = hour + " AM";
  }
  return newtime;
}
</script>
</body>
</html>