<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap -->
    <link href="/css/bootstrap-theme.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/Bootstrap" rel="stylesheet">
    <link href="bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body onload="test()">

<div class="navbar">
  <a href="chooseplace">Home</a>
  <a href="schedule">Schedule</a>
  <div class="dropdown">
    <button class="dropbtn">More 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="chooseplace">Discover</a>
      <a href="tokyoplace">Tokyo</a>
      <a href="newyork">New York City</a>
      <a href="rome">Rome</a>
      <a href="login">Log In</a>
      <a href="login">Sign Out</a>
    </div>
  </div> 
</div>

<div class="edit">
<button type="button">Edit</button>
</div>
<!-- {{#each schedule}} -->
<!-- <div class = "store name" id="{{store}}"> -->
<!-- </div> -->
<!-- {{/each}} -->
<!-- To clear make a function onclick(){innerHTML = ""} something like that-->

<!-- id for New York Activities -->
<p style="background-color:DeepPink;" id="startCentral"></p>
<p style="background-color:DeepPink;" id="endCentral"></p>
<p style="background-color:DeepPink;" id="startStatue"></p>
<p style="background-color:DeepPink;" id="endStatue"></p>
<p style="background-color:DeepPink;" id="startTop"></p>
<p style="background-color:DeepPink;" id="endTop"></p>
<p style="background-color:DeepPink;" id="startThe"></p>
<p style="background-color:DeepPink;" id="endThe"></p>
<p style="background-color:DeepPink;" id="startTimes"></p>
<p style="background-color:DeepPink;" id="endTimes"></p>
<!-- New York Food -->
<p style="background-color:GreenYellow;" id="startFive"></p>
<p style="background-color:GreenYellow;" id="endFive"></p>
<p style="background-color:GreenYellow;" id="startJuliana"></p>
<p style="background-color:GreenYellow;" id="endJuliana"></p>
<p style="background-color:GreenYellow;" id="startBleecker"></p>
<p style="background-color:GreenYellow;" id="endBleecker"></p>
<p style="background-color:GreenYellow;" id="startAmélie"></p>
<p style="background-color:GreenYellow;" id="endAmélie"></p>
<p style="background-color:GreenYellow;" id="startKeens"></p>
<p style="background-color:GreenYellow;" id="endKeens"></p>
<!-- New York Shopping -->
<p style="background-color:Gold;" id="startBergdorf"></p>
<p style="background-color:Gold;" id="endBergdorf"></p>
<p style="background-color:Gold;" id="startGrand"></p>
<p style="background-color:Gold;" id="endGrand"></p>
<p style="background-color:Gold;" id="startFifth"></p>
<p style="background-color:Gold;" id="endFifth"></p>

<script type="text/javascript">
  // variables for New York Activities
  var startCentral = {{Central}};
  var endCentral = {{endCentral}};
  var startStatue = {{Statue}};
  var endStatue = {{endStatue}};
  var startTop = {{Top}};
  var endTop = {{endTop}};
  var startThe = {{The}};
  var endThe = {{endThe}};
  var startTimes = {{Times}};
  var endTimes = {{endTimes}};
  // // New York Food
  var startFive = {{Five}};
  var endFive = {{endFive}};
  var startJuliana = {{Juliana}};
  var endJuliana = {{endJuliana}};
  var startBleecker = {{Bleecker}};
  var endBleecker = {{endBleecker}};
  var startAmélie = {{Amélie}};
  var endAmélie = {{endAmélie}};
  var startKeens = {{Keens}};
  var endKeens = {{endKeens}};
  // //New York Shopping
  var startBergdorf = {{Bergdorf}};
  var endBergdorf = {{endBergdorf}};
  var startGrand = {{Grand}};
  var endGrand = {{endGrand}};
  var startFifth = {{Fifth}};
  var endFifth = {{endFifth}};

  function test() {
    if (startCentral != "0"){
      document.getElementById("startCentral").innerHTML = "<b>Central Park</b>: " + "Start: " + hourconvert(startCentral) + " - End: " + hourconvert(endCentral)
    }
    if (startStatue != "0"){
      document.getElementById("startStatue").innerHTML = "Statue of Liberty: " + "Start: " + hourconvert(startStatue) + " - End: " + hourconvert(endStatue)
    }
    if (startTop != "0"){
      document.getElementById("startTop").innerHTML = "Top of the Rock Observation Deck: " + "Start: " + hourconvert(startTop) + " - End: " + hourconvert(endTop)
    }
    if (startThe != "0"){
      document.getElementById("startThe").innerHTML = "The Metropolitan Museum of Art: " + "Start: " + hourconvert(startThe) + " - End: " + hourconvert(endThe)
    }
    if (startTimes != "0"){
      document.getElementById("startTimes").innerHTML = "Times Square: " + "Start: " + hourconvert(startTimes) + " - End: " + hourconvert(endTimes)
    }
    if (startFive != "0"){
      document.getElementById("startFive").innerHTML = "5 Napkin Burger: " + "Start: " + hourconvert(startFive) + " - End: " + hourconvert(endFive)
    }
    if (startJuliana != "0"){
      document.getElementById("startJuliana").innerHTML = "Juliana's Pizza: " + "Start: " + hourconvert(startJuliana) + " - End: " + hourconvert(endJuliana) 
    }
    if (startBleecker != "0"){
      document.getElementById("startBleecker").innerHTML = "Bleecker Street Pizza: " + "Start: " + hourconvert(startBleecker) + " - End: " + hourconvert(endBleecker)
    }
    if (startAmélie != "0"){
      document.getElementById("startAmélie").innerHTML = "Amélie: " + "Start: " + hourconvert(startAmélie) + " - End: " + hourconvert(endAmélie)
    }
    if (startKeens != "0"){
      document.getElementById("startKeens").innerHTML = "Keens Steakhouse: " + "Start: " + hourconvert(startKeens) + " - End: " + hourconvert(endKeens)
    }
    if (startBergdorf != "0"){
      document.getElementById("startBergdorf").innerHTML = "Bergdorf Goodman: " + "Start: " + hourconvert(startBergdorf) + " - End: " + hourconvert(endBergdorf)
    }
    if (startGrand != "0"){
      document.getElementById("startGrand").innerHTML = "Grand Central Market: " + "Start: " + hourconvert(startGrand) + " - End: " + hourconvert(endGrand)
    }
    if (startFifth != "0"){
      document.getElementById("startFifth").innerHTML = "Fifth Avenue Street: " + "Start: " + hourconvert(startFifth) + " - End: " + hourconvert(endFifth)
    }
  }

  function hourconvert(hour){
  if (parseInt(hour) > 12) {
    var newtime = parseInt(hour) - 12;
    newtime = newtime.toString() + " PM";
  }
  else{
    var newtime = hour + " AM";
  }
  return newtime;
}
</script>
</body>
</html>