<!DOCTYPE html>
<html>
<head>
	<title>This Is Sparta!!!!!!</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap -->
{{> header}}

    <style>
    legend { 
    display: block;
    padding-left: 50px;
    padding-right: 50px;
    height: 50%;
    border-style: groove;
    background-image: url("https://upload.wikimedia.org/wikipedia/en/0/03/Flag_of_Italy.svg");
    background-position: center;
    background-size: 100%; 
    background-repeat: no-repeat;
    background-blend-mode: screen;
    text-shadow: 3px 2px yellow;
}
.header {
  position: fixed;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 20%;
  background-color: #f1f1f1;
}

.header h3 {
  text-align: center;
}

.progress-container {
  width: 100%;
  height: 1px;
  background: #ccc;
}

.progress-bar {
  height: 8px;
  background: blue;
  width: 0%;
}
.content {
  padding: 100px 0;
  margin: 50px auto 0 auto;
  width: 80%;
}
input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 150px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}
</style>

</head>
<body>

	<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

<div class="navbar">
  <a href="chooseplace">Home</a>
  <div class="dropdown">
    <button class="dropbtn">Schedule 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="tokyoschedule">Tokyo</a>
      <a href="newyorkschedule">New York City</a>
      <a href="romeschedule">Rome</a>
    </div>
  </div> 
<!--   <a href="schedule">Schedule</a> -->
  <div class="dropdown">
    <button class="dropbtn">More 
      <i class="fa fa-caret-down"></i>
    </button>
   <div class="dropdown-content">
      <a href="chooseplace">Discover</a>
      <a href="tokyoplace">Tokyo</a>
      <a href="newyork">New York City</a>
      <a href="rome">Rome</a>
      <a href="login">Log In</a>
      <a href="login">Sign Out</a>
      <a href="help">Help?</a>
    </div>
  </div> 
</div>
<br>

<form action="/romeschedule" method="get">
{{#each romeactivitives}}
<fieldset>
	<hr>
	<legend><h3>Italy:</h3></legend>
      	<div class="romeactivitives" id="{{romename}}">
          		<!-- <img src="{{imageURL}}" class = "img-responsive"> -->
          		<img src="{{romepic}}" class "img-responsive" style="width: 100%">
          		<p><b>{{romename}}</b></p>
          		<p>Description: {{romedes}}</p>
          		<p>Average Hours Spent: {{romehour}}</p>
          		<p>Average Price: {{romeprice}}</p>
      	</div>
    		<div>
				<i>Start:</i><select id = {{romename}} name= {{romename}} value=null>
					<option value="0" selected>0</option>
					<option value="6">6 AM</option>
					<option value="7">7 AM</option>
					<option value="8">8 AM</option>
					<option value="9">9 AM</option>
					<option value='10'>10 AM</option>
					<option value='11'>11 AM</option>
					<option value='12'>12 PM</option>
					<option value='13'>1 PM</option>
					<option value='14'>2 PM</option>
					<option value='15'>3 PM</option>
					<option value='16'>4 PM</option>
					<option value='17'>5 PM</option>
					<option value='18'>6 PM</option>
					<option value='19'>7 PM</option>
					<option value='20'>8 PM</option>
					<option value='21'>9 PM</option>
					<option value='22'>10 PM</option>
					<option value='23'>11 PM</option>
					<option value='24'>12 AM</option>
				</select>
				<i>End:</i> <select id = end{{romename}} name= end{{romename}} value="0">
					<option value="0" selected>0</option>
					<option value="6">6 AM</option>
					<option value="7">7 AM</option>
					<option value="8">8 AM</option>
					<option value="9">9 AM</option>
					<option value='10'>10 AM</option>
					<option value='11'>11 AM</option>
					<option value='12'>12 PM</option>
					<option value='13'>1 PM</option>
					<option value='14'>2 PM</option>
					<option value='15'>3 PM</option>
					<option value='16'>4 PM</option>
					<option value='17'>5 PM</option>
					<option value='18'>6 PM</option>
					<option value='19'>7 PM</option>
					<option value='20'>8 PM</option>
					<option value='21'>9 PM</option>
					<option value='22'>10 PM</option>
					<option value='23'>11 PM</option>
					<option value='24'>12 AM</option>
				</select>
		</div>
			</fieldset>
	<hr>
{{/each}}

{{#each romefood}}
<fieldset>
	<hr>
	<legend><h3>Italy:</h3></legend>
	<div class="romefood" id="{{romestore}}">
          		<!-- <img src="{{imageURL}}" class = "img-responsive"> -->
          		<img src="{{romeimage}}" class "img-responsive" style="width: 100%">
          		<p><b>{{romestore}}</b></p>
          		<p>Known For: {{romeknown}}</p>
          		<p>Average Price: {{romefoodprice}}</p>
      	</div>
    		<div>
				<i>Start:</i><select id = {{romestore}} name= {{romestore}} value=null>
					<option value="0" selected>0</option>
					<option value="6">6 AM</option>
					<option value="7">7 AM</option>
					<option value="8">8 AM</option>
					<option value="9">9 AM</option>
					<option value='10'>10 AM</option>
					<option value='11'>11 AM</option>
					<option value='12'>12 PM</option>
					<option value='13'>1 PM</option>
					<option value='14'>2 PM</option>
					<option value='15'>3 PM</option>
					<option value='16'>4 PM</option>
					<option value='17'>5 PM</option>
					<option value='18'>6 PM</option>
					<option value='19'>7 PM</option>
					<option value='20'>8 PM</option>
					<option value='21'>9 PM</option>
					<option value='22'>10 PM</option>
					<option value='23'>11 PM</option>
					<option value='24'>12 AM</option>
				</select>
				<i>End:</i> <select id = end{{romestore}} name= end{{romestore}} value="0">
					<option value="0" selected>0</option>
					<option value="6">6 AM</option>
					<option value="7">7 AM</option>
					<option value="8">8 AM</option>
					<option value="9">9 AM</option>
					<option value='10'>10 AM</option>
					<option value='11'>11 AM</option>
					<option value='12'>12 PM</option>
					<option value='13'>1 PM</option>
					<option value='14'>2 PM</option>
					<option value='15'>3 PM</option>
					<option value='16'>4 PM</option>
					<option value='17'>5 PM</option>
					<option value='18'>6 PM</option>
					<option value='19'>7 PM</option>
					<option value='20'>8 PM</option>
					<option value='21'>9 PM</option>
					<option value='22'>10 PM</option>
					<option value='23'>11 PM</option>
					<option value='24'>12 AM</option>
				</select>
						</div>
		</fieldset>
		</div>
		<hr>
{{/each}}

{{#each romeshopping}}
<fieldset>
	<hr>
		<legend><h3>Italy:</h3></legend>
	<div class="romeshopping" id="{{romeshopping}}">
          		<!-- <img src="{{imageURL}}" class = "img-responsive"> -->
          		<img src="{{romeshopimage}}" class "img-responsive" style="width: 100%">
          		<p>{{romeshopping}}</p>
          		<p>Type: {{romeshopdes}}</p>
      	</div>
    		<div>
				<i>Start:</i><select id = {{romeshopping}} name= {{romeshopping}} value=null>
					<option value="0" selected>0</option>
					<option value="6">6 AM</option>
					<option value="7">7 AM</option>
					<option value="8">8 AM</option>
					<option value="9">9 AM</option>
					<option value='10'>10 AM</option>
					<option value='11'>11 AM</option>
					<option value='12'>12 PM</option>
					<option value='13'>1 PM</option>
					<option value='14'>2 PM</option>
					<option value='15'>3 PM</option>
					<option value='16'>4 PM</option>
					<option value='17'>5 PM</option>
					<option value='18'>6 PM</option>
					<option value='19'>7 PM</option>
					<option value='20'>8 PM</option>
					<option value='21'>9 PM</option>
					<option value='22'>10 PM</option>
					<option value='23'>11 PM</option>
					<option value='24'>12 AM</option>
				</select>
				<i>End:</i> <select id = end{{romeshopping}} name= end{{romeshopping}} value="0">
					<option value="0" selected>0</option>
					<option value="6">6 AM</option>
					<option value="7">7 AM</option>
					<option value="8">8 AM</option>
					<option value="9">9 AM</option>
					<option value='10'>10 AM</option>
					<option value='11'>11 AM</option>
					<option value='12'>12 PM</option>
					<option value='13'>1 PM</option>
					<option value='14'>2 PM</option>
					<option value='15'>3 PM</option>
					<option value='16'>4 PM</option>
					<option value='17'>5 PM</option>
					<option value='18'>6 PM</option>
					<option value='19'>7 PM</option>
					<option value='20'>8 PM</option>
					<option value='21'>9 PM</option>
					<option value='22'>10 PM</option>
					<option value='23'>11 PM</option>
					<option value='24'>12 AM</option>
				</select>
		</div>
		</fieldset>
	<hr>
{{/each}}
<br><br><br><br><br><br>

<!--Progress bar-->
<div class="header">
  <h3>  Hit Complete to add event to Schedule</h3>
  <input type="submit" name="" value="Complete">
  <div class="progress-container">
    <div class="progress-bar" id="myBar"></div>
  </div>  
</div>
<!-- <input type="submit" name="" value="Complete"> -->
</form>

<script>
// When the user scrolls the page, execute myFunction 
window.onscroll = function() {
	myFunction();
	scrollFunction();
};

function myFunction() {
  var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
  var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
  var scrolled = (winScroll / height) * 100;
  document.getElementById("myBar").style.width = scrolled + "%";
}

// When the user scrolls down 20px from the top of the document, show the button
//window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>
</body>
</html>
