<!DOCTYPE html>
<html>
<head>
    <title>Rome Schechule!</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/style.css" rel="stylesheet">
	<!-- Bootstrap -->
 
    <style>
      {{> header}}
    .addbut {
    background-color: #4CAF50;
    border: none; /* Remove borders */
    color: white; /* Add a text color */
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.legend {
    position: absolute;
    bottom: 0;
  }
  </style>
</head>
<body onload="test()">

<!-- NAVIGATION BAR -->
{{> navbar}}

<!-- <div class="edit">
<button type="button">Edit</button>
</div> -->
<br>
<div>
   <font size="+2">Schedule for Rome</font>
</div>
<div class = "addbut">
  <a href="rome" class= "botton">Add Rome Event</a>
</div>

<!-- LEGEND-->
{{> legend}}
<!-- {{#each schedule}} -->
<!-- <div class = "store name" id="{{store}}"> -->
<!-- </div> -->
<!-- {{/each}} -->
<!-- To clear make a function onclick(){innerHTML = ""} something like that-->

<!-- id for Rome Activities -->
<p style="background-color:Tomato;" id="startColosseum"></p>
<p style="background-color:Tomato;" id="endColosseum"></p>
<p style="background-color:Tomato;" id="startPantheon"></p>
<p style="background-color:Tomato;" id="endPantheon"></p>
<p style="background-color:Tomato;" id="startVatican"></p>
<p style="background-color:Tomato;" id="endVatican"></p>
<p style="background-color:Tomato;" id="startTivoli"></p>
<p style="background-color:Tomato;" id="endTivoli"></p>
<p style="background-color:Tomato;" id="startTrevi"></p>
<p style="background-color:Tomato;" id="endTrevi"></p>
<!-- Rome Food -->
<p style="background-color:GreenYellow;" id="startPane"></p>
<p style="background-color:GreenYellow;" id="endPane"></p>
<p style="background-color:GreenYellow;" id="startProsciutteria"></p>
<p style="background-color:GreenYellow;" id="endProsciutteria"></p>
<p style="background-color:GreenYellow;" id="startIl"></p>
<p style="background-color:GreenYellow;" id="endIl"></p>
<p style="background-color:GreenYellow;" id="startLa"></p>
<p style="background-color:GreenYellow;" id="endLa"></p>
<p style="background-color:GreenYellow;" id="startFederica"></p>
<p style="background-color:GreenYellow;" id="endFederica"></p>
<!-- Rome Shopping -->
<p style="background-color:Gold;" id="startPaciotti"></p>
<p style="background-color:Gold;" id="endPaciotti"></p>
<p style="background-color:Gold;" id="startCastel"></p>
<p style="background-color:Gold;" id="endCastel"></p>
<p style="background-color:Gold;" id="startMercato"></p>
<p style="background-color:Gold;" id="endMercato"></p>

<script type="text/javascript">
  // variables for New York Activities
  var startColosseum = {{Colosseum}};
  var endColosseum = {{endColosseum}};
  var startPantheon = {{Pantheon}};
  var endPantheon = {{endPantheon}};
  var startVatican = {{Vatican}};
  var endVatican = {{endVatican}};
  var startTivoli = {{Tivoli}};
  var endTivoli = {{endTivoli}};
  var startTrevi = {{Trevi}};
  var endTrevi = {{endTrevi}};
  // // // New York Food
  var startPane = {{Pane}};
  var endPane = {{endPane}};
  var startProsciutteria = {{Prosciutteria}};
  var endProsciutteria = {{endProsciutteria}};
  var startIl = {{Il}};
  var endIl = {{endIl}};
  var startLa = {{La}};
  var endLa = {{endLa}};
  var startFederica = {{Federica}};
  var endFederica = {{endFederica}};
  // // //New York Shopping
  var startPaciotti = {{Paciotti}};
  var endPaciotti = {{endPaciotti}};
  var startCastel = {{Castel}};
  var endCastel = {{endCastel}};
  var startMercato = {{Mercato}};
  var endMercato = {{endMercato}};

  function test() {
    if (startColosseum != "0"){
      document.getElementById("startColosseum").innerHTML = "<b>Colosseum:</b> " + "Start: " + hourconvert(startColosseum) + " - End: " + hourconvert(endColosseum)
    }
    if (startPantheon != "0"){
      document.getElementById("startPantheon").innerHTML = "<b>Pantheon:</b> " + "Start: " + hourconvert(startPantheon) + " - End: " + hourconvert(endPantheon)
    }
    if (startVatican != "0"){
      document.getElementById("startVatican").innerHTML = "<b>Vatican City St Peter’s, Sistine Chapel:</b> " + "Start: " + hourconvert(startVatican) + " - End: " + hourconvert(endVatican)
    }
    if (startTivoli != "0"){
      document.getElementById("startTivoli").innerHTML = "<b>Hadrian's Villa and Villa d'Este:</b> " + "Start: " + hourconvert(startTivoli) + " - End: " + hourconvert(endTivoli)
    }
    if (startTrevi != "0"){
      document.getElementById("startTrevi").innerHTML = "<b>Trevi Fountain:</b> " + "Start: " + hourconvert(startTrevi) + " - End: " + hourconvert(endTrevi)
    }
    if (startPane != "0"){
      document.getElementById("startPane").innerHTML = "<b>Pane e Salame:</b> " + "Start: " + hourconvert(startPane) + " - End: " + hourconvert(endPane)
    }
    if (startProsciutteria != "0"){
      document.getElementById("startProsciutteria").innerHTML = "<b>Prosciutteria Cantina Dei Papi:</b> " + "Start: " + hourconvert(startProsciutteria) + " - End: " + hourconvert(endProsciutteria) 
    }
    if (startIl != "0"){
      document.getElementById("startIl").innerHTML = "<b>Il Tamburello di Pulcinella:</b> " + "Start: " + hourconvert(startIl) + " - End: " + hourconvert(endIl)
    }
    if (startLa != "0"){
      document.getElementById("startLa").innerHTML = "<b>La Pergola:</b> " + "Start: " + hourconvert(startLa) + " - End: " + hourconvert(endLa)
    }
    if (startFederica != "0"){
      document.getElementById("startFederica").innerHTML = "<b>Federica & Barbara of BB Kitchen:</b> " + "Start: " + hourconvert(startFederica) + " - End: " + hourconvert(endFederica)
    }
    if (startPaciotti != "0"){
      document.getElementById("startPaciotti").innerHTML = "<b>Paciotti Salumeria:</b> " + "Start: " + hourconvert(startPaciotti) + " - End: " + hourconvert(endPaciotti)
    }
    if (startCastel != "0"){
      document.getElementById("startCastel").innerHTML = "<b>Castel Romano Designer Outlet:</b> " + "Start: " + hourconvert(startCastel) + " - End: " + hourconvert(endCastel)
    }
    if (startMercato != "0"){
      document.getElementById("startMercato").innerHTML = "<b>Mercato Trionfale:</b> " + "Start: " + hourconvert(startMercato) + " - End: " + hourconvert(endMercato)
    }

  }

function hourconvert(hour){
  if (parseInt(hour) > 12) {
    var newtime = parseInt(hour) - 12;
    newtime = newtime.toString() + " PM";
  }
  else{
    var newtime = hour + " AM";
  }
  return newtime;
}

</script>
</body>
</html>